
*.v2
*.v2
*.v2
*.vsidx
*.v2
*.v2
*.vsidx
.vs/CineFront/DesignTimeBuild/.dtbcache.v2
.vs/CineFront/FileContentIndex/e9b510ec-07c8-4b66-9a0d-b14a2e51c592.vsidx
.vs/CineFront/FileContentIndex/6d808279-1305-47bc-a172-68fcf3bfd0d0.vsidx
.vs/CineFront/v17/.futdcache.v2
.vs/CineFront/DesignTimeBuild/.dtbcache.v2
.vs/CineFront/FileContentIndex/e9b510ec-07c8-4b66-9a0d-b14a2e51c592.vsidx
.vs/CineFront/FileContentIndex/6d808279-1305-47bc-a172-68fcf3bfd0d0.vsidx
.vs/CineFront/v17/.futdcache.v2
.vs/CineFront/v17/.suo
.vs/ProjectEvaluation/cinefront.metadata.v6.1
.vs/ProjectEvaluation/cinefront.projects.v6.1
CineApi/obj/Debug/net6.0/CineApi.assets.cache
CineApi/obj/Debug/net6.0/CineApi.csproj.AssemblyReference.cache
CineApi/obj/project.nuget.cache
CineBack/obj/Debug/net6.0/CineBack.assets.cache
CineBack/obj/Debug/net6.0/CineBack.csproj.AssemblyReference.cache
CineBack/obj/project.nuget.cache
CineFront/Formularios/frmAltaTicket.Designer.cs
CineFront/obj/Debug/net6.0-windows/CineFront.assets.cache
CineFront/obj/Debug/net6.0-windows/CineFront.csproj.AssemblyReference.cache
CineFront/obj/project.nuget.cache
*.v2
.vs/CineFront/DesignTimeBuild/.dtbcache.v2
.vs/CineFront/DesignTimeBuild/.dtbcache.v2
*.vsidx
