bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
CineFront/obj/project.assets.json
.vs/CineFront/DesignTimeBuild/.dtbcache.v2
.vs/CineFront/FileContentIndex/4bcb026c-eefe-43ec-bb41-bece5ab11730.vsidx
.vs/CineFront/v17/.suo
CineApi/bin/Debug/net6.0/CineApi.exe
CineApi/bin/Debug/net6.0/CineApi.dll
CineApi/bin/Debug/net6.0/CineApi.pdb
CineApi/bin/Debug/net6.0/CineBack.dll
CineApi/bin/Debug/net6.0/CineBack.pdb
CineApi/obj/CineApi.csproj.nuget.g.props
CineApi/obj/CineApi.csproj.nuget.dgspec.json
CineApi/obj/Debug/net6.0/apphost.exe
CineApi/obj/Debug/net6.0/CineApi.csproj.AssemblyReference.cache
CineApi/obj/Debug/net6.0/CineApi.assets.cache
CineApi/obj/Debug/net6.0/CineApi.csproj.FileListAbsolute.txt
CineApi/obj/Debug/net6.0/CineApi.csproj.CoreCompileInputs.cache
CineApi/obj/Debug/net6.0/CineApi.dll
CineApi/obj/Debug/net6.0/CineApi.GeneratedMSBuildEditorConfig.editorconfig
CineApi/obj/Debug/net6.0/CineApi.genruntimeconfig.cache
CineApi/obj/Debug/net6.0/CineApi.pdb
CineApi/obj/project.assets.json
CineApi/obj/project.nuget.cache
CineBack/bin/Debug/net6.0/CineBack.dll
CineBack/bin/Debug/net6.0/CineBack.pdb
CineBack/obj/CineBack.csproj.nuget.dgspec.json
CineBack/bin/Debug/net6.0/CineBack.dll
.vs/CineFront/v17/.suo
